/* google font url */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* all body style */
body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* header part styles */

header {
    height: 1040px;
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */
.navbar {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 30px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 10px;
}

/* banner section styles */
.banner-info {
    width: 680px;
    margin: 0 auto;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 20px;
}

.banner-btn {
    width: 150px;
    height: 50px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    color: #ffff;
    font-weight: 600;
    font-size: 14px;
    margin-left: 265px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.banner-btn:hover{
    background: #be6805;
}
.banner-img img {
    width: 1140px;
}

/* quick list section styles */

.quick-list {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    align-items: center;
}

.quick-list-img-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.quick-list-img img {
    width: 290px;
    height: 290px;
}

.quick-list-info {
    width: 487px;
    height: 278px;
}

.quick-list-title {
    font-weight: 500;
    font-size: 40px;
    margin: 15px 0;
}

.quick-list-title .quick {
    color: #727272;
}

.quick-list-title .features {
    color: #FF900E;
}

.quick-list-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 15px;
}

.quick-btn {
    width: 150px;
    height: 50px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    color: #ffff;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: .5s;
}
.quick-btn:hover{
    background: #be6805;
}